<% if @reviews.count == 0 %>

    <div  class="text-center"><h4>Aucun commentaire.</h4></div>

<% else %>
    <% @reviews.order("id DESC").each do |r| %>
        <hr>
        <div class="row">
            
                <div>
                 <div class="card text-center">
                      <div class="card-header">
                       <%= image_tag avatar_url(r.user), class:"rounded-circle avatar-small"  %> <%= r.user.fullname %>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">"<%= r.comment %>"</h4>
                        <p class="card-text"> <%= r.created_at.strftime("%d.%m.%y") %></p>
                        <%= link_to "Supprimer mon commentaire", [@room, r], method: :delete, data: {confirm: "Etes-vous sûr?"} if current_user && current_user == r.user %>
                      </div>
                      <div class="card-footer text-muted">
                           Note<div id="stars_<%= r.id %>" style="width:20px; display: inline-flex; height:20px;"></div>
                      </div>
                    </div>
                </div>
            </div>
                <script>
                    $('#stars_<%= r.id %>').raty({
                        path: '/assets',
                        readOnly: true,
                        score: <%= r.star %>
                    });
                </script>
    <% end %>
<% end %>